{% extends "base.html" %}
   {% block body %}

<section class="form-container">

   <form action="{{ url_for('add_category') }}" method="post" enctype="multipart/form-data">
      <h3>add category</h3>
      <p>category title<span>*</span></p>
      <input type="text" name="title" placeholder="enter category title" required maxlength="50" class="box">

      <p>category description<span>*</span></p>
      <input type="text" name="description" placeholder="enter category description" required maxlength="500" class="box">
      
      <p>select category image <span>*</span></p>
      <input type="file" name="img"  required class="box">
      <input type="submit" value="add category" name="submit" class="btn">
   </form>

</section>

{% endblock %}